/*FONTS*/
@font-face {
    font-family: 'harry';
    src: url('_fonts/HARRYP__.TTF') format('truetype');
    font-size: 100em;
} 

 @font-face {
    font-family: 'parselto';
    src: url('_fonts/PARSELTO.TTF') format('truetype');
} 

@font-face {
    font-family: 'magic school';
    src: url('_fonts/MagicSchoolOne-ovYz.ttf') format('truetype');
    font-weight: normal;
}

#body{
    overflow-x: hidden;
}

/*HEADER*/
nav{
    background-color: #242633;
    color: white;
}

#logo-txt{
    font-family: 'harry', serif;
    font-weight: normal;
    font-size: 30px;
}


/*CARD*/

/* .carta-header{
    justify-content: center;
    width: 25vw;
}

.carta-body{
    width: 25vw;
} */

.title-card{
    font-family: 'magic school';
    font-size: 40px;
    font-weight: lighter;
}

/* .img-custom{
    margin-left: 3.5em;
    width: 50px;
} */

.img-custom:hover, .carta:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}



/*BANNER*/
.wrapper{
    height: 25%;
    width: 100%;
    display: block;
}

/*paragrafo*/
p{
    text-indent: 1.5em;
    line-height: 2em;
}

/*FOOTER*/
footer{
    background-color: rgba(36, 38, 51, 1);
}

#title-footer{
    font-family: 'harry', serif;
    font-weight: normal;
    font-size: 50px;
}

/* h3{
    display: inline-block;
}
hr{
    align-items: center;
    justify-content: center;
    display: inline-block;
    width: 25%;
} */